<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col">
        <p style="text-align:left;color:gray">
          Chinese Institute for Brain Research (CIBR), Beijing<br>
          26 Science Park Road, ZGC Life Science Park, Changping, Beijing 102206, China<br>
          <a href="https://zhoulab.cibr.ac.cn/" target="_self">首页</a> | 
          <a href="https://zhoulab.cibr.ac.cn/research/research_in_chinese/" target="_self">关于</a> |           
          <a href="https://zhoulab.cibr.ac.cn/contact/" target="_self">联系</a> | 

          <a href="http://cibr.ac.cn/#/" target="_blank">北京脑科学与类脑研究中心</a> | 
          2021
          <br>
          <br>
          
          <p align="left">
          <img width="200" style="border-radius:8px; border:0px solid #6495ED" src="/assets/cibr_logo.png">
          </p>
          
          <a href="https://beian.miit.gov.cn/" target="_blank" style="color:gray">ICP备案号：京ICP备18029179号</a>
        </p>
      </div>
     
    </div>

  </div>

</footer>
