<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <p style="text-align:left">
          Lab of Behavioral and Systems Neuroscience
        </p>
      </div>      

    <div class="footer-col footer-col-3">
      <p style="text-align:right;color:gray">
        <a href="https://beian.miit.gov.cn/" target="_blank">ICP备案号：京ICP备18029179号</a>
      </p>
    </div>            
      
      
    </div>

  </div>

</footer>
