<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">      
      </div>
      
      <div class="footer-col footer-col-1" style="text-align:left">
        <p>
          Zhou Laboratory of Behavioral and Systems Neuroscience<br>
          @ Chinese Institute for Brain Research, Beijing
        </p>
        <a href="" target="_blank">ICP备案号：京ICP备18029179号</a>
      </div>      
      
      <div class="footer-col footer-col-2" style="text-align:">
        <a href="" target="_blank">ICP备案号：京ICP备18029179号</a>
      </div>            
      
      
    </div>

  </div>

</footer>
